[Desktop Entry]
Name=Where AT?
Exec=qmlscene %U whereat/Main.qml
Icon=whereat/whereat.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Title=Where AT?
X-Ubuntu-Splash-Color=white
